.ToDos-Page {
  /* background-image: url('/images/image1.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;  /* Make sure the div has height */
  width: 100%;
}
